/* Importing Css of Login Dialog */
.remember {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #828282;
  text-decoration: none;
}
.mat-progress-spinner {
  position: absolute;
  left: 50%;
  top: 40%;
}
