<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-6">
        <p class="title">About</p>
        <ul class="footer-links">
          <li><a>Company</a></li>
          <li><a>Partnership</a></li>
          <li><a>Events</a></li>
          <li><a>NewsRoom</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3 col-6">
        <p class="title">Support</p>
        <ul class="footer-links">
          <li><a>Help</a></li>
          <li><a>Cancelation Policy</a></li>
          <li><a>FAQ</a></li>
          <li><a>Contact us</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text light-gray-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="https://github.com/gham-khaled/Kawer">Scrum Project</a>.
        </p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><img src="assets/images/footer/Facebook.png" alt=""></a></li>
          <li><a class="twitter" href="#"><img src="assets/images/footer/Twitter.png" alt=""></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"><img src="assets/images/footer/Instagram.png" alt=""></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
