.navbar {
  border-bottom: 1px solid lightgray;
  background-color: #FFFFFF;
}

.navbar-brand {
  max-height: 70px;
}

.nav-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #828282;
}

button {
  padding-top: 2px;
  padding-end: 2px;
  padding-left: 3px;
  padding-right: 3px;
  box-shadow: none;
}

#signUp {
  background: #F4CE11;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#signUp div {
  color: white;
}
.mat-button:focus {
  outline: none;
}


@media screen and (max-width: 768px) {
  .navbar-collapse {
    top: 85px;
    bottom: 0;
    padding-left: 15px;
    right: 0;
    width: 40%;
    position: absolute;
    background-color: white;
    height: fit-content;
    z-index: 1;
    overflow: auto;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);

  }

  .navbar-collapse ul li {
    justify-content: center;

  }

  #signUp {
    background: #FFFFFF;
    padding-left: 0;
  }

}
