.navbar-white {
  border-bottom: 1px solid lightgray;
  background-color: #FFFFFF;
}
.navbar-yellow{
  background-color: #FDD92A;
}
.navbar-yellow .nav-link,.navbar-yellow  .dropdown-item {
  color: #1F1A38;

}
.navbar-brand {
  max-height: 70px;
}

.nav-link, .dropdown-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #828282;
}

.avatar-thumbnail {
  max-height: 125px;
  max-width: 40px;
  border-radius: 144.222px;

}

button {
  padding-top: 2px;
  padding-end: 2px;
  padding-left: 3px;
  padding-right: 3px;
  box-shadow: none;
}

#signUp {
  background: #F4CE11;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#signUp div {
  color: white;
}

.mat-button:focus {
  outline: none;
}


@media screen and (max-width: 768px) {
  mat-icon {
    margin-right: 5px;
  }
}

