<nav class="navbar navbar-expand-lg navbar-light ">
  <img class="navbar-brand" src="assets/images/navbar/logo.png">
  <button class="navbar-toggler" type="button" (click)="collapse = !collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse  collapse ">
    <ul class="navbar-nav mx-auto ">
      <li class="nav-item active">
        <button mat-button>
          <a class="nav-link" routerLinkActive="active" routerLink=" ">Home </a>
        </button>
      </li>
      <li class="nav-item">
        <button mat-button>
          <a class="nav-link" routerLinkActive="active" routerLink="/fields">Fields</a>
        </button>
      </li>
      <li class="nav-item ">
        <button mat-button>
          <a class="nav-link " routerLinkActive="active" routerLink="/contact">Contact</a>
        </button>
      </li>

    </ul>
    <ul *ngIf="!isLoggedIn" class="navbar-nav">
      <li class="nav-item ">
        <button mat-button (click)="onLogin()">
          <div class="nav-link">Login</div>
        </button>
      </li>
      <li class="nav-item pl-lg-4 pr-2">
        <button mat-button id="signUp" (click)="onSignUp()">
          <div class="nav-link">Sign up</div>
        </button>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn" class="navbar-nav">

      <li class="nav-item pl-lg-4 pr-2">
        <button mat-button id="signUp" (click)="onSignOut()">
          <div class="nav-link">Sign Out</div>
        </button>
      </li>
    </ul>

  </div>
</nav>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="collapse" mode="over" #sidenav>
    <mat-nav-list>

      <a mat-list-item  routerLink="" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        Home
      </a>

      <a mat-list-item  routerLink="/fields" (click)="sidenav.close()">
        <mat-icon>sports_soccer</mat-icon>
        Fields
      </a>
      <a mat-list-item  routerLink="/contact" (click)="sidenav.close()">
        <mat-icon>contact_page</mat-icon>
        Contact
      </a>
      <a *ngIf="!isLoggedIn" mat-list-item (click)="onLogin()">
        <mat-icon>login</mat-icon>
        Login
      </a>
      <a *ngIf="!isLoggedIn" mat-list-item (click)="onSignUp()">
        <mat-icon>person_add_alt</mat-icon>
        Sign Up
      </a>
      <a *ngIf="isLoggedIn" mat-list-item (click)="onSignOut()">
        <mat-icon>person_add_alt</mat-icon>
        Sign Out
      </a>

      <a (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon>
        Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
