

.background{
  height: 95vh;
  width: 100%;
  background: url('https://cutewallpaper.org/21/football-background-hd/Wallpaper-Football,-Lights,-Field,-Sports,-Stadium-.jpg') no-repeat;
  background-size: cover;
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 35px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


