<div class="row">
  <div class="col-12 mt-md-5 mt-3">
    <div class="d-flex flex-column justify-content-start">
      <div class="title">Camp Nou Barcelona</div>
      <div class="light-gray-text">Barcelone,Spain</div>
      <div class="align-self-end mt-md-n5 d-none d-md-block">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><img src="assets/images/footer/Facebook.png" alt=""></a></li>
          <li><a class="twitter" href="#"><img src="assets/images/footer/Twitter.png" alt=""></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"><img src="assets/images/footer/Instagram.png" alt=""></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 mt-md-5 mt-3 ">
    <carousel [slides]="slides"></carousel>
  </div>
  <div class="col-12 col-sm-4 mt-sm-5 mt-3">
    <div class="title">Amenities</div>
    <div class="row  mt-sm-4 mt-2">
      <div class="col-6 mt-2 light-blue-text">
        <img src="assets/images/icons/wifi.png" class="mr-1" alt="">Wifi
      </div>
      <div class="col-6 mt-2 light-blue-text">
        <img src="assets/images/icons/bar.png" class="mr-1" alt="">Bar
      </div>
      <div class="col-6 mt-2 light-blue-text">
        <img src="assets/images/icons/grass.png" class="mr-1" alt="">Artificial turf
      </div>
      <div class="col-6 mt-2 light-blue-text">
        <img src="assets/images/icons/shower.png" class="mr-1" alt="">Shower
      </div>
      <div class="col-6 mt-2 light-blue-text">
        <img src="assets/images/icons/toilet.png" class="mr-1" alt="">Toilet
      </div>
      <div class="col-6 mt-2 light-blue-text">
        <img src="assets/images/icons/closet.png" class="mr-1" alt="">Lockers
      </div>
    </div>
  </div>
  <div class="col-12 offset-sm-1 col-sm-7 mt-sm-5 mt-3">
    <div class="title">Description</div>
    <div class="light-blue-text mt-sm-4 mt-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ante quam nunc pharetra ut lacinia odio nunc. Sem risus aliquam id adipiscing. Condimentum dolor eget lacus, lacinia leo orci mauris pulvinar congue. Nisl est orci quam feugiat mi, eget tortor eget arcu.
    </div>
  </div>
  <hr class="col-12 mt-4">
  <div class="title mt-4 col-12">Pick a time</div>
  <div class="col-12 ">
    <app-scheduler></app-scheduler>
  </div>


</div>
