<button class="close" mat-button (click)="onNoClick()">x</button>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 mat-dialog-title class="title">Sign Up</h2>
    </div>

  </div>

  <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show mb-3 " role="alert">
    {{errorMessage}}
    <button (click)="this.errorMessage = null" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-----------------------------------------------------First Form------------------------------------------------>
  <div [formGroup]="formInfo" *ngIf="formCounter===0" class="row">
    <div class="col-12 py-1">
      <mat-form-field appearance="outline">
        <mat-label>Enter your Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="formInfo.controls.name.errors">{{getErrorMessage(formInfo.controls.name)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 py-1">
      <mat-form-field appearance="outline">
        <mat-label>Enter your Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="family_name" required>
        <mat-error
          *ngIf="formInfo.controls.family_name.errors">{{getErrorMessage(formInfo.controls.family_name)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 py-1">
      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput placeholder="dd/mm/yyyy" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
               formControlName="birthdate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [startAt]="startDate" #picker></mat-datepicker>
        <mat-error
          *ngIf="formInfo.controls.birthdate.errors">{{getErrorMessage(formInfo.controls.birthdate)}}</mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 py-1 d-flex justify-content-center">
      <button mat-button [disabled]="formInfo.invalid" (click)="incrementCounter()" class="yellow-button w-50">
        Next >
      </button>
    </div>
  </div>
  <!-----------------------------------------------------Second Form------------------------------------------------>
  <div [formGroup]="formUser" *ngIf="formCounter===1 && !isLoading" class="row">
    <div class="col-12 py-1">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="formUser.controls.email.errors">{{getErrorMessage(formUser.controls.email)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 py-1">
      <mat-form-field appearance="outline">
        <mat-label>Enter your Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formUser.controls.password.errors">{{getErrorMessage(formUser.controls.password)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 py-1">
      <mat-form-field appearance="outline">
        <mat-label>Confirm your Password</mat-label>
        <input matInput type="password" placeholder="Confirm Password" [errorStateMatcher]="matcher"
               formControlName="confirmPassword" required>
        <mat-error *ngIf="formUser.hasError('notSame')">
          Passwords do not match
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 py-1 mb-3 d-flex justify-content-center">
      <mat-checkbox formControlName="newsletter">Subscribe to our newsletter</mat-checkbox>
    </div>

    <div class="col-12 py-1 d-flex justify-content-center">
      <button mat-button (click)="decrementCounter()" class="yellow-button w-25 mx-1">
        < Previous
      </button>
      <button mat-button [disabled]="formUser.invalid" (click)="onSignUp()" class="yellow-button w-25 mx-1">
        Submit
      </button>
    </div>
  </div>
  <!-----------------------------------------------------Third Form------------------------------------------------>
  <div [formGroup]="formCode" *ngIf="formCounter===2 && !isLoading" class="row ">
    <div class="col-12 pt-1">
      <mat-form-field appearance="outline">
        <mat-label>Enter your code</mat-label>
        <input matInput placeholder="Ex: 123456" formControlName="code" required>
        <mat-error *ngIf="formCode.controls.code.errors">{{getErrorMessage(formCode.controls.code)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 pb-5">
      <button mat-button color="primary" (click)="onResendCode()">
        Resend Code
      </button>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button mat-button [disabled]="formCode.invalid" (click)="onSendCode()" class="yellow-button w-75 mx-1">
        Confirm Code
      </button>
    </div>

  </div>


  <div class="wrapper">
    <mat-progress-spinner
      *ngIf="isLoading"
      mode="indeterminate"
      class="mx-auto mt-5 pt-5 ">
    </mat-progress-spinner>
  </div>


</div>
