<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>

</head>

<body>


<!--<amplify-authenticator>-->
<!--  <amplify-sign-up-->
<!--    slot="sign-up"-->
<!--    [formFields]="[-->
<!--    { type: 'email', label: 'email', placeholder: 'email',  required: true },-->
<!--    { type: 'password' },-->
<!--    { type: 'name', label: 'name', placeholder: 'name',  required: true },-->
<!--    { type: 'family_name', label: 'family_name', placeholder: 'family_name',  required: true },-->
<!--    { type: 'birthdate', label: 'birthdate', placeholder: 'birthdate',  required: true },-->

<!--    ]"-->
<!--    usernameAlias="email"></amplify-sign-up>-->
<!--</amplify-authenticator>-->
<app-navbar>

</app-navbar>
<app-footer></app-footer>
</body>


</html>
