<div class="container-fluid   " >
  <div class="row ">
    <div class="col-12 yellow-image ">
    </div>
  </div>
  <div class="row profile-information">
    <div class="col-12 col-sm-3 profile-name pb-3">
      <img src="assets/images/profile/profile-pic.png" class="profile-image" alt="">
      <div class="name mt-4 ml-4">
        Anna Smith
      </div>
      <a href="" class="edit-photo mb-5 " >
        Edit Photo
      </a>
      <div class="row mt-5 pt-5">
        <div class="col-6  icon">
          <img src="assets/images/profile/bookings.png" alt="">
          <div class="mt-3">
            <a href="#"  style="color: black">
              My Bookings
            </a>
          </div>
        </div>
        <div class="col-6  icon">
          <img src="assets/images/profile/transaction.png" alt="">
          <div class="mt-3">
            <a href="#" style="color: #828282">
              Transactions
            </a>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-6  icon">
          <img src="assets/images/profile/settings.png" alt="">
          <div class="mt-3">
            <a href="#" style="color: #828282">
              Settings
            </a>
          </div>
        </div>
        <div class="col-6  icon">
          <img src="assets/images/profile/edit.png" alt="">
          <div class="mt-3">
            <a href="#" style="color: #828282">
              Edit Profile
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-12 col-sm-9 title booking"  >
      Bookings
      <div class="row mt-5">
        <div class="col-12">
          <mat-tab-group   >
            <mat-tab label="First"  >
              <div *ngFor="let field of fields" class="row mt-3 mb-5 mr-sm-3 ml-1 ml-md-n3 field " >
                <div class="col-sm-5  col-12  mr-sm-0  mb-3 d-sm-block d-flex justify-content-center field-image">
                  <a routerLink="{{field.id}}">
                    <img src="{{field.imageThumbnailPath}}" alt="" class="img-fluid field-image">
                  </a>
                </div>
                <div class="col-sm-5 col-12   pl-sm-0 field-text  ">
                  <div class=" d-sm-inline-block d-flex justify-content-center">
                    <a routerLink="{{field.id}}" class="subtitle">{{field.name}}</a>
                  </div>
                  <div class="light-gray-text gray-region mt-1  d-sm-block d-flex justify-content-center ">
                    {{field.region}}
                  </div>
                  <div class="light-gray-text gray-region description mt-1  pt-3  d-sm-block d-none" >
                    {{field.description}}
                  </div>
                  <div class="title price pt-4  d-sm-block d-flex justify-content-center ">
                    ${{field.fees}} USD
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Second"> Past</mat-tab>
            <mat-tab label="Third"> Cancelled</mat-tab>
          </mat-tab-group>
        </div>
      </div>

    </div>
  </div>

</div>
