
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #1F1A38;
}

.profile-information {
  position: relative;
  top: -330px;

}

.profile-image {
  z-index: 9999;
  position: relative;
  border-radius: 144.222px;
  min-height: 20vh;
  max-height: 25vh;
  max-width: 25vh;
}

.profile-name {
  background-color: #F1F1F1;
  text-align: center;
}

button {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  /* identical to box height, or 127% */
  text-decoration-line: underline;
  z-index: 9999;

  /* Maybe */
  color: #1F1A38;
  display: block;
}

.icon {
  background-color: white;
  max-width: 35%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 6px;
  box-shadow: 0 0 10px #00000023;
}

.booking {
  position: relative;
  z-index: 9999;
  height: 600px;
  overflow: hidden;

}

.booking:hover {
  overflow: auto;
}

.yellow-image {
  background: url("../../assets/images/profile/yellow-bg.svg") top center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 50vh;
  z-index: 9999;
}

.container-fluid {
  overflow: hidden;
  height: 100vh;
}

.price {
  font-size: 20px;
  line-height: 23px;
  display: flex;

}

.description {
  overflow: hidden;
  height: 130px;
}

.title {
  text-align: start;
}

.gray-region {
  font-size: 17px;
  line-height: 28px;
  color: #828282;

}

.field-text {
  height: 260px;
}

.field-image {
  height: 270px;
}

.field {
  height: 240px;
}

@media screen and (min-width: 576px ) {
  .booking {
    margin-top: 14rem;
  }
}

@media screen and (max-width: 576px) {
  .yellow-image {
    height: 150px;
    background-size: cover;
  }

  .profile-information {
    top: -120px;
  }

  .container-fluid, .booking {
    overflow: visible;
  }

  .booking {
    padding-top: 3rem;
    text-align: center !important;
  }
  .field {
    height: 400px;
  }
}
