
.list-fields {
  background-color: #FFFFFF;
}

img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.price {
  font-size: 20px;
  line-height: 23px;
  display: flex;

}

.gray-region {
  font-size: 17px;
  line-height: 28px;
  color: #828282;

}

.description {
  height: 125px;
  overflow: hidden;
}

.title {
  text-align: start;
}

input:focus {
  outline: none;
}

@media all and (max-width: 769px) {
  .input, .select {
    border-radius: 10px;
  }



}
