/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Medium.ttf) format("opentype");
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins.ttf) format("opentype");
}


.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #1F1A38;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #1F1A38;
}

.light-gray-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #828282;
}

body {
  background-color: #E5E5E5;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* This is for the scheduler*/
.segment-enabled:hover .cal-scheduler-time {
  color: #FFFFFF !important;
  cursor: pointer
}
.segment-enabled:hover {
  background-color: #007bb6 !important;
  cursor: pointer
}
.segment-disabled .cal-scheduler-time {
  color: #cccccc !important;
}
/* This is for the X in the dialog components */

.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 6px;
  line-height: 14px;
  color: #A3A3A3;
  width: 30px;
  min-width: unset;
  background-color: transparent;
}

