<!--Main Navigation-->
<!--Navbar-->

<header class="intro-header">


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}'
       [ngStyle]="{'background' : 'url(../assets/images/home/Football2.jpg)'}">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
                <strong>Kawer</strong>
              </h2>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
                <strong>Reservez votre terrain en un click</strong>
              </h5>
              <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
                 mdbWavesEffect>Listes des terrains</a>
              <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
                 mdbWavesEffect>Devenir partenaires</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <app-terrain></app-terrain>
    </div>
  </div>
</div>
