<div class="row mt-sm-3 mt-lg-5 no-gutters">
  <!-------------------------------------- BackGround + Search Box--------------------------------------->

  <div class="col-12 mb-5 ml-lg-2" id="rent" [ngStyle]="{background: 'url(./assets/images/home/background.png)'}">
    <div class="d-flex justify-content-center ">
      Rent a staduim
    </div>
    <div class="wrapper">
      <div class="row no-gutters">
        <div class="col-4">
          <input type="text" class="input light-gray-text" placeholder="Select a location" id="location">
        </div>
        <div class="col-4">
          <input type="text" (click)="picker.open()" matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter"
                 class="input light-gray-text" placeholder="Select a date?" id="date">
          <mat-datepicker color="#F4CE11" #picker></mat-datepicker>
        </div>
        <div class="col-4">
          <input type="text" class="input light-gray-text" placeholder="Find a staduim?" id="staduim">
        </div>

      </div>
    </div>
  </div>
  <!-------------------------------------- Card football Items--------------------------------------->

  <div class="col-12 title mt-sm-5 mt-3">
    Popular near you
  </div>
  <div class="col-12 subtitle mt-3 mb-lg-4 ">
    We feature a variety of stadium options available for community use
  </div>
  <div class="col-sm-3 mt-3 col-6 mb-lg-5 d-flex justify-content-start card-staduim">
    <div class="card">
      <img class="card-img-top" src="assets/images/home/staduim1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title subtitle">Radès Olympic Stadium</h5>
        <p class="card-text light-gray-text mt-3">
          Radès, Ben Arous
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mt-3 col-6 mb-lg-5 d-flex justify-content-start card-staduim">
    <div class="card">
      <img class="card-img-top" src="assets/images/home/staduim2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title subtitle">El Menzah Stadium </h5>
        <p class="card-text light-gray-text">
          Aryanah, Aryanah
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mt-3 col-6 mb-lg-5 d-flex justify-content-start  card-staduim">
    <div class="card">
      <img class="card-img-top" src="assets/images/home/staduim3.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title subtitle">Chedly Zouiten Stadium </h5>
        <p class="card-text light-gray-text">
          Tunis, Tunis
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mt-3 col-6 mb-lg-5  d-flex justify-content-start  card-staduim">
    <div class="card">
      <img class="card-img-top" src="assets/images/home/staduim4.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title subtitle">7 March Stadium </h5>
        <p class="card-text light-gray-text">
          Ben Gardane, Medenine
        </p>
      </div>
    </div>
  </div>
  <!-------------------------------------- NewsLetter--------------------------------------->
  <div class="row mt-lg-5 mt-3" id="newsletter">
    <div class="col-md-6 ">
      <div class="title mb-2 ">Stay in touch</div>
      <div class="subtitle mt-2">
        Subscribe to our newsletter and
        be the first to know about events and promotions.
      </div>
    </div>
    <div class="col-md-6 p-sm-5 d-md-flex justify-content-center ">
      <input type="text" class="input light-gray-text" placeholder="Enter your email" id="inputNewsletter">
      <button class="btn">Subscribe</button>
    </div>
  </div>

</div>
