<button class="close" mat-button (click)="onNoClick()">x</button>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h2 mat-dialog-title class="title">Login</h2>
    </div>
  </div>
  <div [formGroup]="formLogin" class="row">
    <div class="col-12 py-1">
      <mat-form-field appearance="outline">
        <mat-label>Enter your Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" required>
      </mat-form-field>
    </div>
    <div class="col-12 py-1">
      <mat-form-field appearance="outline">
        <mat-label>Enter your Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>
    </div>
    <div class="col-12 py-1 mb-2">
      <mat-checkbox formControlName="remember" class="remember">Remember Me ?</mat-checkbox>
    </div>
    <div class="col-12 py-1 d-flex justify-content-center">
      <button mat-button [disabled]="formLogin.invalid" class="yellow-button w-50">
        Login
      </button>
    </div>
    <div class="col-12 mat-checkbox d-flex justify-content-center" (click)="onNoAccount()">
      Don’t have an account? Sign Up
    </div>
  </div>
</div>
